<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Where Can I Camp?, ​Outdoor Recreation, ​Find your next getaway, ​Where to go now, Contact Us">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="./../jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="./../nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contanct us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="phonecases">Phone cases</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="cart">Go to cart</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


</head>
  <body class="u-body u-xl-mode" data-lang="en">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-image u-shading u-section-1" src="" id="carousel_74d8" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Case that reflects your memories</h1>
        <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">We know, your heart is broken , now save your phone from geting into peices</p>
        <div class="u-clearfix u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-align-right-sm u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                  <a href="https://wa.me/00918434106606" class="u-align-right-sm u-align-right-xs u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-1">Call Us</a>
                </div>
              </div>
              <div class="u-align-left u-container-align-left-sm u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2">
                  <a href="https://www.instagram.com/direct/t/17842506653388805" class="u-active-white u-align-left-sm u-align-left-xs u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-text-active-black u-text-hover-black u-btn-2">Get in touch VIA Instagram</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-cf32">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1"><a  href="iphones.html">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="images/10514136.png" alt=""></span>
                <h4 class="u-align-center u-custom-font u-text u-text-font u-text-1">Iphones</h4>
              </div>
            </div> </a>
            <a  href="iphones.html"><a href="Android.html">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-2"><img src="images/65958.png" alt=""></span>
                <h4 class="u-align-center u-custom-font u-text u-text-font u-text-2">Samsung</h4>
              </div>
            </div></a>
            <a  href="iphones.html"><a href="Android.html">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-3"><img src="images/9144089.png" alt=""></span>
                <h4 class="u-align-center u-custom-font u-text u-text-font u-text-3">One plus</h4>
              </div>
            </div></a>
            <a  href="iphones.html"><a href="Android.html">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-center u-file-icon u-icon u-icon-4"><img src="images/6379233.png" alt=""></span>
                <h4 class="u-align-center u-custom-font u-text u-text-font u-text-4">XAOMi</h4>
              </div>
            </div></a>
            <a  href="iphones.html"><a href="Android.html">
            <div class="u-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-align-center u-file-icon u-icon u-icon-5"><img src="images/10437617.png" alt=""></span>
                <h4 class="u-align-center u-custom-font u-text u-text-font u-text-5">Others</h4>
              </div>
            </div> </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-237f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Some of our Products</h2>
        <p class="u-align-center u-text u-text-2">Some products that we sold last months</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="https://cdn.luxuriouscovers.com/media/catalog/product/cache/12/image/9df78eab33525d08d6e5fb8d27136e95/6/5/65_2_1.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading">The Galaxy Samsung</h3>
                <p class="u-gallery-text">Best design of the universe</p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="https://m.media-amazon.com/images/I/614ik5y0SsL._SL1000_.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading">Saturo Gojo</h3>
                <p class="u-gallery-text">which is your favourite anime</p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="https://cdn.inprnt.com/thumbs/c8/ed/c8ed716e208193b7c1c63cc92dc333f0.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading">Memories</h3>
                <p class="u-gallery-text">Just remember</p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="855">
                <img class="u-back-image u-expanded" src="https://cdn.shopify.com/s/files/1/0288/2948/3146/products/G0832_Marquina-Black-Marble_Samsung_Samsung-S21_1_720x.jpg?v=1683274279">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="720">
                <img class="u-back-image u-expanded" src="https://www.btlimitededitionstore.com/wp-content/uploads/2023/02/20230216_081701.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1024" data-image-height="1280">
                <img class="u-back-image u-expanded" src="https://m.media-amazon.com/images/I/51DM63xgsLL._SL1100_.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="u-align-center u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hidden-xs u-palette-2-base u-radius-50 u-btn-1">View More designs<br>
        </a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-4" id="sec-185a">
      
      
      
      
      
      
      
      
      
      
      
      
      
      <style>
        .whatsapp_float{
          position: fixed;
          bottom: 40px;
          right: 20px;
        }
      </style>
      <div class="whatsapp_float">
        <a href="https://wa.me/918434106606" target="_blank">
          <img src="images/whatsappicon.png" alt="" width="50px" class="whatsapp_float_btn" >
        </a>

      </div>
      
      
      
      
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">&nbsp;Wrap for your loved ones&nbsp;</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="1024" data-image-height="1024">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                <div class="u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h4 class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Friends</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="894" data-image-height="947">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h4 class="u-align-center u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Family</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="1134" data-image-height="1134">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5">
                <div class="u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <h4 class="u-align-center u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Your love</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="1200" data-image-height="1200">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-7">
                <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-4">
                  <div class="u-container-layout u-container-layout-8">
                    <h4 class="u-align-center u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Children</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="920" data-image-height="920">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-9">
                <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <h4 class="u-align-center u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Callouge</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-image u-list-item u-repeater-item u-shading u-shape-rectangle u-image-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="894" data-image-height="954">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-11">
                <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-50 u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <h4 class="u-align-center u-text u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">Relativies</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="sec-d633">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Our Features</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1024" data-image-height="1024" src="images/Harry_Potter_-_Always_-_Engraved_Wood_Phone_Case_-_Woodgeek_Store_2_1600x.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-2-base u-group-1">
                  <div class="u-container-layout u-valign-bottom u-container-layout-2">
                    <h4 class="u-align-center u-text u-text-default u-text-2">Material</h4>
                    <p class="u-align-center u-text u-text-3">You won't regret</p>
                  </div>
                </div>
                <p class="u-align-center u-text u-text-4">These Three materials</p>
              
              </div>
            </div>
            <div class="u-align-center u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1690" data-image-height="1000" src="images/iph11-apl-01-04-lifestyle1-banner.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-2-base u-group-2">
                  <div class="u-container-layout u-valign-bottom u-container-layout-4">
                    <h4 class="u-align-center u-text u-text-default u-text-5">Design</h4>
                    <p class="u-align-center u-text u-text-6"> Amazes you everytime</p>
                  </div>
                </div>
                <p class="u-align-center u-text u-text-7">Large database of unique design.</p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="1124" data-image-height="1139" src="images/SpigenUltraHybridOnePlus10Pro5GCase-94cec8dccb6f40ac8a9c7f86212783e1.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-2-base u-group-3">
                  <div class="u-container-layout u-valign-bottom u-container-layout-6">
                    <h4 class="u-align-center u-text u-text-default u-text-8">Delivery</h4>
                    <p class="u-align-center u-text u-text-9">Earlier than expected</p>
                  </div>
                </div>
                <p class="u-align-center u-text u-text-10">We deliver you in less than 6 days</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <section class="u-clearfix u-image u-shading u-section-6" id="sec-018f" data-image-width="1620" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-text u-text-1">Contact Us</h2>
                  <p class="u-text u-text-body-alt-color u-text-2">You can emails , call us or even , message on whatsapp and instagram. we will recive your order in every ways</p>
                  <a href="tel:8434106606" class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-text-active-black u-text-hover-black u-btn-1">Contact Us</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form action="/home" method="post" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                      <div class="u-form-email u-form-group u-form-partition-factor-2">
                        <label for="email-319a" class="u-label u-text-body-alt-color u-label-1">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-319a" name="email" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2">
                        <label for="name-319a" class="u-label u-text-body-alt-color u-label-2">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-319a" name="name" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-address u-form-group u-form-group-3">
                        <label for="address-452f" class="u-label u-text-body-alt-color u-label-3">Address</label>
                        <input type="text" placeholder="Enter your address" id="address-452f" name="address" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-319a" class="u-label u-text-body-alt-color u-label-4">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-319a" name="message" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-319a" class="u-label u-text-body-alt-color u-label-4">Image</label>
                        <input type="file" rows="4" cols="50" id="message-319a" name="message" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a href="#" class="u-active-white u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-palette-2-base u-radius-50 u-btn-2">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="5c2d16e3-c5d4-7c6d-a246-fdd40e3912b8">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <script>


//contact us background

var elements = document.getElementsByClassName("u-section-6");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("images/gfgfggfggg-min.jpg")';
}
// backgrond top
var elements = document.getElementsByClassName("u-section-1");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}
// wrap your phone around
var elements = document.getElementsByClassName("u-image-1");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}

var elements = document.getElementsByClassName("u-image-2");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}
var elements = document.getElementsByClassName("u-image-3");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}
var elements = document.getElementsByClassName("u-image-4");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}
var elements = document.getElementsByClassName("u-image-5");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}
var elements = document.getElementsByClassName("u-image-6");
for (var i = 0; i < elements.length; i++) {
  elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
}









   </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body></html>